:root {
  --black: #000000;
  --dark: #222326;
  --blue: #1d75de;
  --green: #1ed760;
  --white: #fff;
  --gray: #878787;
  --white-2: #eeeeee;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.beku {
  overflow: hidden;
}

/* clear */
a {
  text-decoration: none;
  color: var(--white);
}

li {
  list-style: none;
}

/* for btn -primary */
.btn-primary {
  width: max-content;
  padding: 0.8rem 1.5rem;
  background-color: var(--black);
  text-align: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border-radius: 2rem;
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

.transparent {
  background: transparent;
  border: 2px solid white;
}

.btn:hover,
.btn-primary:hover {
  transform: scale(1.07);
}

/* for text primary box */
.text-primary {
  border: 1px solid var(--blue);
  text-align: center;
  width: max-content;
  font-size: 0.8rem;
  padding: 0.4rem;
  color: var(--blue);
  font-weight: 500;
  border-radius: 0.5rem;
}

/* nav */

nav {
  background-color: var(--black);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 3rem;
  position: relative;
  z-index: 999;
}

.logo {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  gap: 0.5rem;
}

.logo .wrapper {
  color: var(--white);
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.logo p {
  font-size: 1.4rem;
  font-weight: 600;
}

nav .burger-menu {
  width: 2rem;
  height: 2rem;
  display: none;
}

nav ul .list-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
  padding-right: 2rem;
}

.logo.hide {
  display: none;
}

nav a:hover {
  color: var(--green);
}

nav ul li:nth-child(5) {
  position: relative;
  margin-left: 3rem;
}
nav ul .show-daftar:before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 1px;
  background-color: #fff;
  position: absolute;
  left: -2.5rem;
  top: 50%;
  transform: translateY(-50%);
}

nav ul .close-menu {
  width: 0;
  display: none;
}

/* header */

.header-main {
  width: 100%;
  height: 70vh;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.header-main .wrapper {
  width: 90%;
  height: 90%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header-main .wrapper p:nth-child(1) {
  font-size: 2.3rem;
  font-weight: 700;
}
.header-main .wrapper p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 500;
}
.header-main .wrapper p:nth-child(4) {
  font-size: 0.9rem;
  font-weight: 500;
}

.header-main .wrapper p:nth-child(4) a {
  text-decoration: underline;
}

/* content-1 */

.content-1 {
  width: 100%;
  padding: 7% 2rem;
  background-color: var(--white);
}

.content-1 h2 {
  text-align: center;
  font-size: 2.5rem;
}

.content-1 ul {
  display: flex;
  width: 100%;
  padding: 3rem;
  gap: 4.5rem;
}

.content-1 ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: calc(100% / 4);
}

.content-1 ul li .img-content-1 {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.content-1 ul li .img-content-1 .icon {
  width: 3rem;
  height: 3rem;
}

.content-1 ul li .text {
  line-height: 2rem;
  text-align: center;
}
.content-1 ul li .text p:nth-child(1) {
  font-size: 1.1rem;
  font-weight: bold;
  width: 100%;
}
.content-1 ul li .text p:nth-child(2) {
  width: 100%;
  font-size: 0.9rem;
}

/* content-2 */
.content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 7% 2rem;
  background-color: var(--white-2);
}

.content-2 > .header {
  width: 100%;
  text-align: center;
}
.content-2 > .header h2 {
  font-size: 2.5rem;
}
.content-2 > .header p {
  font-size: 0.9rem;
}
.content-2 .content {
  width: 100%;
  display: flex;
  padding: 3rem 4rem;
  justify-content: space-around;
}

.content-2 .content .card {
  width: 17rem;
  background-color: var(--white);
  box-shadow: 0 0 12px -5px black;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
}

.content-2 .content .card .header {
  height: 14rem;
  position: relative;
  border-bottom: 1px solid black;
}
.content-2 .content .card .header .txt {
  width: 100%;
  text-align: start;
  background-color: var(--blue);
  color: var(--white);
  margin-bottom: 1rem;
  font-weight: 600;
}
.content-2 .content .card .header .text-2 {
  font-size: 1.6rem;
  font-weight: 500;
}
.content-2 .content .card .header .text-1 {
  font-size: 0.9rem;
}

.content-2 .content .card .content-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1.4rem;
  height: 20rem;
}

.content-2 .content .card .content-card .text-field {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}
.content-2 .content .card .content-card p {
  font-size: 0.9rem;
  display: inline;
  width: 100%;
}

.content-2 .content .card .content-end {
  width: 100%;
}
.content-2 .content .card .content-end button {
  width: 100%;
}

.content-2 .content .card .content-end a {
  display: inline-block;
  color: var(--black);
  text-decoration: underline;
  font-size: 0.8rem;
  margin-top: 1rem;
}
.content-2 .content .card .content-end p {
  font-size: 0.8rem;
}

/* box diskon */

.content-2 .box-promosi {
  width: 60%;
  /* min-width: 100%; */
  background-color: var(--white);
  box-shadow: 0 0 12px -5px black;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
}

.content-2 .box-promosi p {
  font-size: 1.5rem;
  font-weight: 600;
}

.content-2 .box-promosi button {
  background: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  height: max-content;
}

/* for laptop */
@media (max-width: 1000px) {
  .text-primary {
    font-size: 1rem;
  }

  /* nav */
  html {
    font-size: 98%;
  }
  /* nav {
    height: 100vh;
  } */
  nav .burger-menu {
    display: block;
    cursor: pointer;
  }

  nav ul {
    opacity: 0;
    position: fixed;
    right: -500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
    width: 40%;
    min-height: 100vh;
    padding: 2rem;
    transition: all 0.3s;
    padding-top: 4rem;
    z-index: 99;
    top: 0;
  }

  .logo.hide {
    display: flex;
    transform: translateY(-70px);
  }
  nav ul .list-menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  nav ul li:nth-child(5) {
    position: relative;
    margin-left: 0;
    margin-top: 2rem;
  }

  nav ul .show-daftar:before {
    top: -4rem;
    left: 1.7rem;
    transform: rotateZ(90deg);
    background-color: #fff;
    height: 40px;
  }

  .size-1 {
    font-size: 1.5rem;
    color: var(--gray);
  }

  nav ul .close-menu {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  nav ul a {
    font-size: 1.8rem;
  }
  nav ul.active {
    right: 0;
    top: 0;
    opacity: 1;
  }

  /* header */

  .header-main {
    height: max-content;
    padding: 3rem 0;
    padding-bottom: 5rem;
  }

  .header-main .wrapper {
    padding: 2rem;
  }

  /* content 1 */
  .content-1 ul {
    flex-wrap: wrap;
    gap: 0;
    row-gap: 2rem;
    padding: 1rem;
  }

  .content-1 ul li {
    width: calc(100% / 2);
    flex-direction: row;
  }

  .content-1 ul li .text {
    text-align: start;
  }

  /* content-2 */
  .content-2 .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    gap: 1rem;
  }

  .content-2 .content .card {
    width: 33rem;
    padding: 1.5rem;
  }

  .content-2 .content .card .header {
    height: max-content;
    padding: 1rem 0;
  }

  .content-2 .content .card .content-card {
    height: max-content;
    padding: 1rem 0;
  }

  .content-2 .content .card .content-card p {
    font-size: 1.1rem;
  }
  .content-2 .content .card .header .text-1 {
    font-size: 1rem;
  }
  .content-2 .box-promosi {
    min-width: 100%;
  }

  .content-2 .content .card .content-end a,
  .content-2 .content .card .content-end p {
    font-size: 0.9rem;
  }

  /* footer */
  footer .links {
    flex-direction: column;
    gap: 4rem;
  }

  footer .links .links-all {
    width: 100%;
  }
}

/* for tab */
@media (max-width: 780px) {
  /* nav */
  html {
    font-size: 85%;
  }
  nav ul {
    width: 70%;
  }
  nav .logo {
    padding-left: 0;
  }

  nav .logo .wrapper {
    width: 2.7rem;
    height: 2.7rem;
  }

  /* header */

  .header-main .wrapper {
    padding: 1rem;
  }

  /* header */
  .header-main .wrapper .button {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .header-main .wrapper .button button {
    width: 100%;
    height: 4rem;
  }
  .header-main .wrapper .button a {
    display: inline-block;
    width: 100%;
    height: 4rem;
    line-height: 2rem;
  }
  .header-main .wrapper p:nth-child(4) {
    font-size: 0.8rem;
  }

  /* content 1 */
  .content-1 ul li {
    width: 100%;
  }

  .content-1 ul li .text p:nth-child(1) {
    font-size: 1.4rem;
  }
  .content-1 ul li .text p:nth-child(2) {
    font-size: 1rem;
  }

  /* content-2 */
  .content-2 .content .card .content-card p {
    font-size: 1.1rem;
  }

  .content-2 .box-promosi {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

/* for mobile */

@media (max-width: 580px) {
  /* nav */
  html {
    font-size: 78%;
  }
  nav ul {
    width: 100%;
  }

  /* headeer */
  /* header */
  .header-main .wrapper p:nth-child(1) {
    font-size: 1.9rem;
  }
  .header-main .wrapper {
    padding: 0;
  }
  .header-main .wrapper .button button {
    height: 4rem;
  }

  /* content 1 */
  .content-1 {
    padding: 7% 0;
  }
  .content-1 h2,
  .content-2 > .header h2 {
    font-size: 2rem;
  }
  .content-1 ul li .img-content-1 {
    max-width: 7rem;
    height: 7rem;
  }

  /* content-2 */
  .content-2 .content {
    padding: 4rem 0;
  }

  .content-2 .content .card .header .text-2 {
    font-size: 2rem;
  }

  .content-2 .content .card .content-card p {
    font-size: 1.2rem;
  }
  .content-2 .content .card {
    width: 100%;
  }
}
